<div class="list" ng-controller="NewPosterController">

  <a class="button icon-left super-chevron-left button-clear button-dark" onclick="window.location.href='settings.html'">Cancel</a>

  <i class = "icon super-ios7-folder-outline" style="font-size: 50px; margin-left: 240px"></i>

  <label class="item item-input item-floating-label">
    <span class="input-label">Study Name</span>
    <input type="text" placeholder="Study Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Location</span>
    <input type="text" placeholder="Location">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Duration</span>
    <input type="text" placeholder="Duration">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Compensation</span>
    <input type="text" placeholder="Compensation">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Lab</span>
    <input type="text" placeholder="Lab">
  </label>

  <div>
    <button class="button button-block button-positive">
      Confirm
    </button>
  </div>


</div>
