<div class="list" ng-controller="NewuserController">

  <a class="button icon-left super-chevron-left button-clear button-dark" onclick="window.location.href='settings.html'">Cancel</a>

  <label class="item item-input item-floating-label">
    <span class="input-label">User Name</span>
    <input type="text" placeholder="Usr Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="text" placeholder="Password">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>

  <div>
    <button class="button button-block button-positive" onclick="submitForm()">
      Confirm
    </button>
  </div>


</div>