<div class="padding" ng-controller="SettingsController">

  <!-- <i class = "icon super-person-add" style="font-size: 25px; margin-left: 10px"></i> -->
  <i class = "icon super-gear-a" style="font-size: 25px; float: right; margin-right: 10px" ></i>
<!--
  <i class = "icon super-search" style="font-size: 25px; float: right; margin-right: 15px"></i>
-->
  <i class = "icon super-plus-round" style="font-size: 25px; float: right; margin-right: 15px" onclick="window.location.href='newPoster.html'"></i>
    <p id = "Greeting"></p>
    <p>You can:</p>
  <button id = "logbutton" onclick="supersonic.ui.initialView.show()"></button>
<!--
  <button onclick="window.location.href='loginUser.html'">Sign in</button>
  <button onclick="window.location.href='newUser.html'">Log in with Facebook</button>
-->



</div>
