<div ng-controller="IndexController">

  <div class="padding">
    <a class="button icon-left super-chevron-left button-clear button-dark" onclick="window.location.href='index.html'">Back</a>
  </div>


  <div class="list card" ng-repeat="poster in posters" ng-controller="IndexController">

      <div class="item item-avatar">
        <img src="/imags/NUwildcats.png">
        <h2>{{ poster.study }}</h2>
        <p>{{ poster.lab }}</p>
        <p>{{ poster.duration }}, {{ poster.compensation }}, {{ poster.location }} </p>
      </div>

      <div class="item item-body">
        <img target="_self" class="full-image" ng-src="{{poster.cover}}" >

        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
          <i class = "icon super-email" style="font-size: 25px; float: right" onclick="sendEmail()" ></i>

        </p>
      </div>
    </div>

    <script >
    function sendEmail()
    {
      var EMAIL_ADDRESS = "";
      window.open("mailto:" + EMAIL_ADDRESS);
    }
    </script>

</div>

    <style>
        .container
        {
            width:100%;
        }
        #M-button
        {
            width:50%;
            display: inline !important;
        }
        #R-button
        {
            width:50%;
            display: inline !important;
        }
    </style>






<!--
  <div ng-repeat="poster in posters" >
    <div class="item item-body">
      <img class="full-image" ng-src="{{poster.cover}}" >
    </div>
  </div>
-->
