<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='res/css/style.css'>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="res/js/jquery-1.11.2.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='res/js/prototype.js'></script>
    <script type='text/javascript' src='res/js/test.js'></script>
    <style>
      .content div {
        margin-bottom: 25px;
      }

      .content div .btn {
        margin-right: 50px;
        width: 100px;
      }

      .content div .btn:last-child {
        margin-right: 0px;
      }

    </style>
    <title> IMCI </title>
  </head>
  <body>
    <div class='content'>
      <div>
        <a href='case-study.html?case=1'><div class='btn btn-primary'>Case 1</div></a>
        <a href='case-study.html?case=2'><div class='btn btn-primary'>Case 2</div></a>
        <a href='case-study.html?case=3'><div class='btn btn-primary'>Case 3</div></a>
      </div>
      <div>
        <a href='case-study.html?case=4'><div class='btn btn-primary'>Case 4</div></a>
        <a href='case-study.html?case=5'><div class='btn btn-primary'>Case 5</div></a>
        <a href='case-study.html?case=6'><div class='btn btn-primary'>Case 6</div></a>
      </div>
      <div>
        <a href='case-study.html?case=7'><div class='btn btn-primary'>Case 7</div></a>
        <a href='case-study.html?case=8'><div class='btn btn-primary'>Case 8</div></a>
        <a href='case-study.html?case=9'><div class='btn btn-primary'>Case 9</div></a>
      </div>
      <div>
        <a href='case-study.html?case=10'><div class='btn btn-primary'>Case 10</div></a>
        <a href='case-study.html?case=11'><div class='btn btn-primary'>Case 11</div></a>
        <a href='case-study.html?case=12'><div class='btn btn-primary'>Case 12</div></a>
      </div>
      <div>
        <a href='case-study.html?case=13'><div class='btn btn-primary'>Case 13</div></a>
      </div>
    </div>
  </body>
</html>

