<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<super-navbar>
    <super-navbar-title>
        Case 3.3
    </super-navbar-title>
</super-navbar>
<div ng-controller="caseController">

<h3> {{question}} </h3>

<ul class="list">
    <div  ng-repeat="a in answers">
        <li class="item item-checkbox item-text-wrap">
            <label class="checkbox">
                <input type="checkbox" ng-model="a.val" ng-disabled="!answers_enabled">
                    </label>
            {{a.label}}<div ng-show="showAnswers && !a.correct"> <font color="red">{{a.incorrect_str}}</font> </div>
            </div>
    </li>
    <div ng-show="showAnswers && a.correct"> <font color="green">{{a.correct_str}}</font> </div>
    
</ul>

  <div ng-show="showAnswers"> 
    <p ng-show="showCorrect"> <font color="green">{{correct_feedback}}</font> </p>
    <p ng-show="showIncorrect1"> <font color="red">{{incorrect_feedback1}}</font> </p>
    <p ng-show="showIncorrect2"> <font color="red">{{incorrect_feedback2}}</font> </p>

  </div>

    <a id= "submit" class="button button-block button-calm icon-left super-document" ng-click="onSubmit()"> {{submitText}} </a>
    <a class="button button-block button-calm icon-left super-document" href="cases.html">Back to Cases</a>
</div>


<script>

angular
  .module('example')
  .controller('caseController', function ($scope, $filter)
  {
        $scope.case3q3 = localStorage.getItem('case3q3');
    localStorage.setItem('case3q3', "working");
    $scope.answers = [{label:"1.  Classify as severe persistent diarrhoea? ", val:false, correct_val:false,correct:false, correct_str:"",incorrect_str:"The child has not had diarrhoea for longer than 14 days, nor has there been blood in the stool."},
                      {label:"2.  Refer the child urgently, and give initial treatment?", val:false, correct_val:true, correct:false, correct_str:"", incorrect_str:""},
                      {label:"3.  Classify as severe dysentery?", val:false, correct_val:true, correct:false, correct_str:"", incorrect_str:""},
                      {label:"4.  None of the above?", val:false, correct_val:false, correct:false, correct_str:"", incorrect_str:"The answers to the questions from the last screen yield a classification of severe dysentery."}];

    $scope.showAnswers = false;

    $scope.question = "Upon inspection, you find that the child has not had diarrhoea for >14 days.  There is blood in the child's stool.  The child has not been losing weight.  The child is older than a year.  Based on this information, what are your next steps? Check all that apply.";
              
    $scope.submitText = "Submit";
    //$scope.selection = ['a1', 'a4'];

    $scope.answers_enabled = true;

    $scope.showCorrect = false;
    $scope.showIncorrect1 = false;
    $scope.showIncorrect2 = false;

    $scope.correct_feedback ="Congratulations! You have successfully treated this child.";
    $scope.incorrect_feedback1 ="There are more correct answers. Please review the choices and choose again. ";
    $scope.incorrect_feedback2 ="At least one of your answers is incorrect. Please review the choices and choose again.";


    $scope.isCorrect = function()
    {
      var selected = $filter("filter")($scope.answers, {correct:true});

      for(i = 0; i < $scope.answers.length; i++)
      {
        if(selected.indexOf($scope.answers[i]) < 0)
          return false;
      }

      return true;
    };

    $scope.onSubmit = function()
    {

      if($scope.submitText == "Next Case"){
        localStorage.setItem('case3q3', true);
        window.location.href = "case-study-4-1.html";
      }

        for(i = 0; i < $scope.answers.length; i++)
        {
          $scope.answers[i].correct = $scope.answers[i].val == $scope.answers[i].correct_val;
        }

        //Check answers
        var is_correct = $scope.isCorrect();

        //$(".answer").show();


        if(is_correct)
        {
          $scope.submitText = "Next Case -->";
          $scope.answers_enabled = false;

          //alert("CORRECT");
          $scope.showCorrect = true;
          $scope.showIncorrect1 = false;
          $scope.showIncorrect2 = false;

        }
        else
        {
                    $scope.showIncorrect1 = false;
          $scope.showIncorrect2 = false;
          for(i = 0; i < $scope.answers.length; i++)
            {
              if($scope.answers[i].correct_val && !$scope.answers[i].val)
                $scope.showIncorrect1 = true;
              if($scope.answers[i].val  && !$scope.answers[i].correct_val )
                $scope.showIncorrect2 = true;
            }
          
        }
        $scope.showAnswers = true;
    }



/*
    $scope.toggleSelecton = function toggleSelection(answer)
    {
      var index = $scope.selection.indexOf(answer);


      if(index > -1)
        $scope.selection.splice(index, 1);
      else
        $scope.selection.push(answer);

    };
*/
  });
</script>
</html>


