<!DOCTYPE html>
<html>
  <head>
      <super-navbar>
          <super-navbar-title>
              Cases Studies
          </super-navbar-title>
      </super-navbar>
      
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='res/css/style.css'>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="res/js/jquery-1.11.2.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='res/js/prototype.js'></script>
    <script type='text/javascript' src='res/js/test.js'></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
      .content div {
        margin-bottom: 25px;
      }

      .content div .btn {
        margin-right: 50px;
        width: 100px;
      }

      .content div .btn:last-child {
        margin-right: 0px;
      }

      .btn-progress-div {
        padding: 13px;
      }

      .btn-progress {
            width:60%;
            float:right;
            margin-right:30px;
            //vertical-align:middle;
      }
      .btn-progress-txt {
            position: relative;
            top: -8pt;
            left: 5pt;
            float:left;
            //vertical-align:middle;
            margin:0px;
            margin-top:0px;
      }

    </style>
    <title> IMCI </title>
  </head>
  <body>
  <!--
<div class="container" style="padding:30px">
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
      <span >70% Complete</span>
    </div>
  </div>
</div>
-->
    <div>
        Cases Complete:
        <div class="progress btn-progress" style="width:90%; margin-left:auto; margin-right:auto;">
            <div id="total_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <span id='total_span'></span>
            </div>
        </div>
    </div>


    <br><br>


    <a class="button button-block button-calm icon-left super-document-text" onclick="case1Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 1</div>
            <div class="progress btn-progress">
                <div id="case1_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case1_span'></span>
                </div>
            </div>
        </div>
    </a>

    <a class="button button-block button-calm icon-left super-document-text" onclick="case2Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 2</div>
            <div class="progress btn-progress">
                <div id="case2_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case2_span'></span>
                </div>
            </div>
        </div>
    </a>
    <a class="button button-block button-calm icon-left super-document-text" onclick="case3Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 3</div>
            <div class="progress btn-progress">
                <div id="case3_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case3_span'></span>
                </div>
            </div>
        </div>
    </a>
    <a class="button button-block button-calm icon-left super-document-text" onclick="case4Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 4</div>
            <div class="progress btn-progress">
                <div id="case4_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case4_span'></span>
                </div>
            </div>
        </div>
    </a>
    <a class="button button-block button-calm icon-left super-document-text" onclick="case5Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 5</div>
            <div class="progress btn-progress">
                <div id="case5_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case5_span'></span>
                </div>
            </div>
        </div>
    </a>
    <a class="button button-block button-calm icon-left super-document-text" onclick="case6Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 6</div>
            <div class="progress btn-progress">
                <div id="case6_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case6_span'></span>
                </div>
            </div>
        </div>
    </a>
    <a class="button button-block button-calm icon-left super-document-text" onclick="case7Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 7</div>
            <div class="progress btn-progress">
                <div id="case7_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case7_span'></span>
                </div>
            </div>
        </div>
    </a>
    <a class="button button-block button-calm icon-left super-document-text" onclick="case8Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 8</div>
            <div class="progress btn-progress">
                <div id="case8_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case8_span'></span>
                </div>
            </div>
        </div>
    </a>
    <a class="button button-block button-calm icon-left super-document-text" onclick="case9Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 9</div>
            <div class="progress btn-progress">
                <div id="case9_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case9_span'></span>
                </div>
            </div>
        </div>
    </a>
        <a class="button button-block button-calm icon-left super-document-text" onclick="case10Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 10</div>
            <div class="progress btn-progress">
                <div id="case10_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case10_span'></span>
                </div>
            </div>
        </div>
    </a>
        <a class="button button-block button-calm icon-left super-document-text" onclick="case11Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 11</div>
            <div class="progress btn-progress">
                <div id="case11_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case11_span'></span>
                </div>
            </div>
        </div>
    </a>
        <a class="button button-block button-calm icon-left super-document-text" onclick="case12Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 12</div>
            <div class="progress btn-progress">
                <div id="case12_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case12_span'></span>
                </div>
            </div>
        </div>
    </a>
        <a class="button button-block button-calm icon-left super-document-text" onclick="case13Tracker()">
        <div class="btn-progress-div">
            <div class="btn-progress-txt">Case 13</div>
            <div class="progress btn-progress">
                <div id="case13_prog" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span id='case13_span'></span>
                </div>
            </div>
        </div>
    </a> 

    <a class="button button-block button-dark" onclick="resetLocalStorage()">Reset</button>


<script>



    var casesComplete = 0;
    var numCases = 13;

    //functions to get number of questions completed
    function case1Progress()
    {
        var numQuestions = 5;

        var case1q1 = localStorage.getItem('case1q1');
        var case1q2 = localStorage.getItem('case1q2');
        var case1q3 = localStorage.getItem('case1q3');
        var case1q4 = localStorage.getItem('case1q4');
        var case1q5 = localStorage.getItem('case1q5');
        var progress = Number(case1q1) + Number(case1q2) + Number(case1q3) + Number(case1q4) + Number(case1q5);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case1_span").innerHTML = progress + " / " + numQuestions;
        $("#case1_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case1_prog").attr("aria-valuemax", numQuestions);
    }
    
    function case2Progress()
    {
        var numQuestions = 6;
        
        var case2q1 = localStorage.getItem('case2q1');
        var case2q2 = localStorage.getItem('case2q2');
        var case2q3 = localStorage.getItem('case2q3');
        var case2q4 = localStorage.getItem('case2q4');
        var case2q5 = localStorage.getItem('case2q5');
        var case2q6 = localStorage.getItem('case2q6');

        var progress = Number(case2q1) + Number(case2q2) + Number(case2q3) + Number(case2q4) + Number(case2q5) + Number(case2q6);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case2_span").innerHTML = progress + " / " + numQuestions;
        $("#case2_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case2_prog").attr("aria-valuemax", numQuestions);
    }

    function case3Progress()
    {
        var numQuestions = 3;

        var case3q1 = localStorage.getItem('case3q1');
        var case3q2 = localStorage.getItem('case3q2');
        var case3q3 = localStorage.getItem('case3q3');

        var progress = Number(case3q1) + Number(case3q2) + Number(case3q3);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case3_span").innerHTML = progress + " / " + numQuestions;
        $("#case3_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case3_prog").attr("aria-valuemax", numQuestions);
    }
    function case4Progress()
    {
        var numQuestions = 5;

        var case4q1 = localStorage.getItem('case4q1');
        var case4q2 = localStorage.getItem('case4q2');
        var case4q3 = localStorage.getItem('case4q3');
        var case4q4 = localStorage.getItem('case4q4');
        var case4q5 = localStorage.getItem('case4q5');

        var progress = Number(case4q1) + Number(case4q2) + Number(case4q3) + Number(case4q4) + Number(case4q5);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case4_span").innerHTML = progress + " / " + numQuestions;
        $("#case4_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case4_prog").attr("aria-valuemax", numQuestions);
    }
    function case5Progress()
    {
        var numQuestions = 5;
        
        var case5q1 = localStorage.getItem('case5q1');
        var case5q2 = localStorage.getItem('case5q2');
        var case5q3 = localStorage.getItem('case5q3');
        var case5q4 = localStorage.getItem('case5q4');
        var case5q5 = localStorage.getItem('case5q5');

        var progress =Number(case5q1) + Number(case5q2) + Number(case5q3) + Number(case5q4) + Number(case5q5);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case5_span").innerHTML = progress + " / " + numQuestions;
        $("#case5_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case5_prog").attr("aria-valuemax", numQuestions);
    }
    function case6Progress()
    {
        var numQuestions = 3;
        
        var case6q1 = localStorage.getItem('case6q1');
        var case6q2 = localStorage.getItem('case6q2');
        var case6q3 = localStorage.getItem('case6q3');

        var progress = Number(case6q1) + Number(case6q2) + Number(case6q3);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case6_span").innerHTML = progress + " / " + numQuestions;
        $("#case6_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case6_prog").attr("aria-valuemax", numQuestions);
    }
    function case7Progress()
    {
        var numQuestions = 3;
        
        var case7q1 = localStorage.getItem('case7q1');
        var case7q2 = localStorage.getItem('case7q2');
        var case7q3 = localStorage.getItem('case7q3');

        var progress = Number(case7q1) + Number(case7q2) + Number(case7q3);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case7_span").innerHTML = progress + " / " + numQuestions;
        $("#case7_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case7_prog").attr("aria-valuemax", numQuestions);
    }
    function case8Progress()
    {
        var numQuestions = 3;

        var case8q1 = localStorage.getItem('case8q1');
        var case8q2 = localStorage.getItem('case8q2');
        var case8q3 = localStorage.getItem('case8q3');
        var progress = Number(case8q1) + Number(case8q2) + Number(case8q3);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case8_span").innerHTML = progress + " / " + numQuestions;
        $("#case8_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case8_prog").attr("aria-valuemax", numQuestions);
    }

    function case9Progress()
    {
        var numQuestions = 6;
        
        var case9q1 = localStorage.getItem('case9q1');
        var case9q2 = localStorage.getItem('case9q2');
        var case9q3 = localStorage.getItem('case9q3');
        var case9q4 = localStorage.getItem('case9q4');
        var case9q5 = localStorage.getItem('case9q5');
        var case9q6 = localStorage.getItem('case9q6');

        var progress = Number(case9q1) + Number(case9q2) + Number(case9q3) + Number(case9q4) + Number(case9q5) + Number(case9q6);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case9_span").innerHTML = progress + " / " + numQuestions;
        $("#case9_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case9_prog").attr("aria-valuemax", numQuestions);
    }
    function case10Progress()
    {
        var numQuestions = 6;
        
        var case10q1 = localStorage.getItem('case10q1');
        var case10q2 = localStorage.getItem('case10q2');
        var case10q3 = localStorage.getItem('case10q3');
        var case10q4 = localStorage.getItem('case10q4');
        var case10q5 = localStorage.getItem('case10q5');
        var case10q6 = localStorage.getItem('case10q6');

        var progress = Number(case10q1) + Number(case10q2) + Number(case10q3) + Number(case10q4) + Number(case10q5) + Number(case10q6);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case10_span").innerHTML = progress + " / " + numQuestions;
        $("#case10_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case10_prog").attr("aria-valuemax", numQuestions);
    }
    function case11Progress()
    {
        var numQuestions = 6;
        
        var case11q1 = localStorage.getItem('case11q1');
        var case11q2 = localStorage.getItem('case11q2');
        var case11q3 = localStorage.getItem('case11q3');
        var case11q4 = localStorage.getItem('case11q4');
        var case11q5 = localStorage.getItem('case11q5');
        var case11q6 = localStorage.getItem('case11q6');

        var progress = Number(case11q1) + Number(case11q2) + Number(case11q3) + Number(case11q4) + Number(case11q5) + Number(case11q6);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case11_span").innerHTML = progress + " / " + numQuestions;
        $("#case11_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case11_prog").attr("aria-valuemax", numQuestions);
    }
    function case12Progress()
    {
        var numQuestions = 5;
        
        var case12q1 = localStorage.getItem('case12q1');
        var case12q2 = localStorage.getItem('case12q2');
        var case12q3 = localStorage.getItem('case12q3');
        var case12q4 = localStorage.getItem('case12q4');
        var case12q5 = localStorage.getItem('case12q5');

        var progress = Number(case12q1) + Number(case12q2) + Number(case12q3) + Number(case12q4) + Number(case12q5);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case12_span").innerHTML = progress + " / " + numQuestions;
        $("#case12_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case12_prog").attr("aria-valuemax", numQuestions);
    }
    function case13Progress()
    {
        var numQuestions = 3;
        
        var case13q1 = localStorage.getItem('case13q1');
        var case13q2 = localStorage.getItem('case13q2');
        var case13q3 = localStorage.getItem('case13q3');

        var progress = Number(case13q1) + Number(case13q2) + Number(case13q3);

        casesComplete += (progress == numQuestions ? 1 : 0);

        var percent = (progress*(1.0/numQuestions))*100;

        document.getElementById("case13_span").innerHTML = progress + " / " + numQuestions;
        $("#case13_prog").css('width', percent+'%').attr("aria-valuenow", progress);
        $("#case13_prog").attr("aria-valuemax", numQuestions);
    }



    function totalProgress()
    {
        var percent = (casesComplete*(1.0/numCases))*100;

        document.getElementById("total_span").innerHTML = casesComplete + " / " + numCases;
        $("#total_prog").css('width', percent + '%').attr("aria-valuenow", progress);
        $("#total_prog").attr("aria-valuemax", numCases);
    }


     window.onload = function()
     {
        case1Progress();
        case2Progress();
        case3Progress();
        case4Progress();
        case5Progress();
        case6Progress();
        case7Progress();
        case8Progress();
        case9Progress();
        case10Progress();
        case11Progress();
        case12Progress();
        case13Progress();

        totalProgress();
        
     };

     setInterval(case1Progress, 1000);
     setInterval(case2Progress, 1000);
     setInterval(case3Progress, 1000);
     setInterval(case4Progress, 1000);
     setInterval(case5Progress, 1000);
     setInterval(case6Progress, 1000);
     setInterval(case7Progress, 1000);
     setInterval(case8Progress, 1000);
     setInterval(case9Progress, 1000);
     setInterval(case10Progress, 1000);
     setInterval(case11Progress, 1000);
     setInterval(case12Progress, 1000);
     setInterval(case13Progress, 1000);
     setInterval(totalProgress, 1000);
    
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //Case trackers -- find which question is next in each case
    function case1Tracker() {
        
        var case1q1 = localStorage.getItem('case1q1');
        var case1q2 = localStorage.getItem('case1q2');
        var case1q3 = localStorage.getItem('case1q3');
        var case1q4 = localStorage.getItem('case1q4');
        var case1q5 = localStorage.getItem('case1q5');
        
        
        if (case1q5 == '1')
        {
           // alert('case finished')
        }
        else if (case1q4 =='1')
        {
            window.location = 'case-study-1-5.html'
        }
        else if (case1q3 =='1')
        {
            window.location = 'case-study-1-4.html'
        }
        else if (case1q2 =='1')
        {
            window.location = 'case-study-1-3.html'
        }
        else if (case1q1 =='1')
        {
            window.location = 'case-study-1-2.html'
        }
        else
        {
            window.location = 'case-study-1-1.html'
        }
        
        
    }

function case2Tracker() {
    var case2q1 = localStorage.getItem('case2q1');
    var case2q2 = localStorage.getItem('case2q2');
    var case2q3 = localStorage.getItem('case2q3');
    var case2q4 = localStorage.getItem('case2q4');
    var case2q5 = localStorage.getItem('case2q5');
    var case2q6 = localStorage.getItem('case2q6');
    
    
    if (case2q6 == '1')
    {
       // alert('case finished')
    }
    else if (case2q5 =='1')
    {
        window.location = 'case-study-2-6.html'
    }
    else if (case2q4 =='1')
    {
        window.location = 'case-study-2-5.html'
    }
    else if (case2q3 =='1')
    {
        window.location = 'case-study-2-4.html'
    }
    else if (case2q2 =='1')
    {
        window.location = 'case-study-2-3.html'
    }
    else if (case2q1 =='1')
    {
        window.location = 'case-study-2-2.html'
    }
    else
    {
        window.location = 'case-study-2-1.html'
    }
}


function case3Tracker() {
    var case3q1 = localStorage.getItem('case3q1');
    var case3q2 = localStorage.getItem('case3q2');
    var case3q3 = localStorage.getItem('case3q3');
    
    
    if (case3q3 == '1')
    {
       // alert('case finished')
    }
    else if (case3q2 =='1')
    {
        window.location = 'case-study-3-3.html'
    }
    else if (case3q1 =='1')
    {
        window.location = 'case-study-3-2.html'
    }
    else
    {
        window.location = 'case-study-3-1.html'
    }
}


function case4Tracker() {

  var case4q1 = localStorage.getItem('case4q1');
  var case4q2 = localStorage.getItem('case4q2');
  var case4q3 = localStorage.getItem('case4q3');
  var case4q4 = localStorage.getItem('case4q4');
  var case4q5 = localStorage.getItem('case4q5');

  if (case4q5 == '1')
  {
    //alert('case finished')
  }
  else if (case4q4 =='1')
  {
    window.location = 'case-study-4-5.html'
  }
  else if (case4q3 =='1')
  {
    window.location = 'case-study-4-4.html'
  }
  else if (case4q2 =='1')
  {
    window.location = 'case-study-4-3.html'
  }
  else if (case4q1 =='1')
  {
    window.location = 'case-study-4-2.html'
  }
  else
  {
    window.location = 'case-study-4-1.html'
  }

}

function case5Tracker() {
    
    var case5q1 = localStorage.getItem('case5q1');
    var case5q2 = localStorage.getItem('case5q2');
    var case5q3 = localStorage.getItem('case5q3');
    var case5q4 = localStorage.getItem('case5q4');
    var case5q5 = localStorage.getItem('case5q5');
    
    if (case5q5 == '1')
    {
       // alert('case finished')
    }
    else if (case5q4 =='1')
    {
        window.location = 'case-study-5-5.html'
    }
    else if (case5q3 =='1')
    {
        window.location = 'case-study-5-4.html'
    }
    else if (case5q2 =='1')
    {
        window.location = 'case-study-5-3.html'
    }
    else if (case5q1 =='1')
    {
        window.location = 'case-study-5-2.html'
    }
    else
    {
        window.location = 'case-study-5-1.html'
    }
}

function case6Tracker() {
    
    var case6q1 = localStorage.getItem('case6q1');
    var case6q2 = localStorage.getItem('case6q2');
    var case6q3 = localStorage.getItem('case6q3');
    
    if (case6q3 =='1')
    {
      // alert('case finished');
    }
    else if (case6q2 == '1')
    {
        window.location = 'case-study-6-3.html'
    }
    else if (case6q1 == '1')
    {
        window.location = 'case-study-6-2.html'
    }
    else
    {
        window.location = 'case-study-6-1.html'
    }
}

function case6Tracker() {
    
    var case6q1 = localStorage.getItem('case6q1');
    var case6q2 = localStorage.getItem('case6q2');
    var case6q3 = localStorage.getItem('case6q3');
    
    if (case6q3 =='1')
    {
       // alert('case finished');
    }
    else if (case6q2 == '1')
    {
        window.location = 'case-study-6-3.html'
    }
    else if (case6q1 == '1')
    {
        window.location = 'case-study-6-2.html'
    }
    else
    {
        window.location = 'case-study-6-1.html'
    }
}

function case7Tracker() {
    
    var case7q1 = localStorage.getItem('case7q1');
    var case7q2 = localStorage.getItem('case7q2');
    var case7q3 = localStorage.getItem('case7q3');
    
    if (case7q3 =='1')
    {
       // alert('case finished');
    }
    else if (case7q2 == '1')
    {
        window.location = 'case-study-7-3.html'
    }
    else if (case7q1 == '1')
    {
        window.location = 'case-study-7-2.html'
    }
    else
    {
        window.location = 'case-study-7-1.html'
    }
}

function case8Tracker() {
    
    var case8q1 = localStorage.getItem('case8q1');
    var case8q2 = localStorage.getItem('case8q2');
    var case8q3 = localStorage.getItem('case8q3');
    
    if (case8q3 =='1')
    {
       // alert('case finished');
    }
    else if (case8q2 == '1')
    {
        window.location = 'case-study-8-3.html'
    }
    else if (case8q1 == '1')
    {
        window.location = 'case-study-8-2.html'
    }
    else
    {
        window.location = 'case-study-8-1.html'
    }
}

function case9Tracker() {
    
    var case9q1 = localStorage.getItem('case9q1');
    var case9q2 = localStorage.getItem('case9q2');
    var case9q3 = localStorage.getItem('case9q3');
    var case9q4 = localStorage.getItem('case9q4');
    var case9q5 = localStorage.getItem('case9q5');
    var case9q6 = localStorage.getItem('case9q6');
    
    
    if (case9q6 == '1')
    {
        //alert('case finished')
    }
    else if (case9q5 =='1')
    {
        window.location = 'case-study-9-6.html'
    }
    else if (case9q4 =='1')
    {
        window.location = 'case-study-9-5.html'
    }
    else if (case9q3 =='1')
    {
        window.location = 'case-study-9-4.html'
    }
    else if (case9q2 =='1')
    {
        window.location = 'case-study-9-3.html'
    }
    else if (case9q1 =='1')
    {
        window.location = 'case-study-9-2.html'
    }
    else
    {
        window.location = 'case-study-9-1.html'
    }
    
}

function case10Tracker() {
    
    var case10q1 = localStorage.getItem('case10q1');
    var case10q2 = localStorage.getItem('case101q2');
    var case10q3 = localStorage.getItem('case10q3');
    var case10q4 = localStorage.getItem('case10q4');
    var case10q5 = localStorage.getItem('case10q5');
    var case10q6 = localStorage.getItem('case10q6');
    
    
    if (case10q6 == '1')
    {
        //alert('case finished')
    }
    else if (case10q5 =='1')
    {
        window.location = 'case-study-10-6.html'
    }
    else if (case10q4 =='1')
    {
        window.location = 'case-study-10-5.html'
    }
    else if (case10q3 =='1')
    {
        window.location = 'case-study-10-4.html'
    }
    else if (case10q2 =='1')
    {
        window.location = 'case-study-10-3.html'
    }
    else if (case10q1 =='1')
    {
        window.location = 'case-study-10-2.html'
    }
    else
    {
        window.location = 'case-study-10-1.html'
    }
    
}


function case11Tracker() {
 
  var case11q1 = localStorage.getItem('case11q1');
  var case11q2 = localStorage.getItem('case11q2');
  var case11q3 = localStorage.getItem('case11q3');
  var case11q4 = localStorage.getItem('case11q4');
  var case11q5 = localStorage.getItem('case11q5');
  var case11q6 = localStorage.getItem('case11q6');


  if (case11q6 == '1')
  {
    //alert('case finished')
  }
  else if (case11q5 =='1')
  {
    window.location = 'case-study-11-6.html'
  }
  else if (case11q4 =='1')
  {
    window.location = 'case-study-11-5.html'
  }
  else if (case11q3 =='1')
  {
    window.location = 'case-study-11-4.html'
  }
  else if (case11q2 =='1')
  {
    window.location = 'case-study-11-3.html'
  }
  else if (case11q1 =='1')
  {
    window.location = 'case-study-11-2.html'
  }
  else
  {
    window.location = 'case-study-11-1.html'
  }

}


function case12Tracker() {
  
  var case12q1 = localStorage.getItem('case12q1');
  var case12q2 = localStorage.getItem('case12q2');
  var case12q3 = localStorage.getItem('case12q3');
  var case12q4 = localStorage.getItem('case12q4');
  var case12q5 = localStorage.getItem('case12q5');
  var case12q6 = localStorage.getItem('case12q6');
  var case12q7 = localStorage.getItem('case12q7');

  if (case12q7 == '1')
  {
    //alert('case finished');
  }
  else if (case12q6 =='1')
  {
    window.location = 'case-study-12-7.html'
  }
  else if (case12q5 =='1')
  {
    window.location = 'case-study-12-6.html'
  }
  else if (case12q4 =='1')
  {
    window.location = 'case-study-12-5.html'
  }
  else if (case12q3 =='1')
  {
    window.location = 'case-study-12-4.html'
  }
  else if (case12q2 =='1')
  {
    window.location = 'case-study-12-3.html'
  }
  else if (case12q1 =='1')
  {
    window.location = 'case-study-12-2.html'
  }
  else
  {
    window.location = 'case-study-12-1.html'
  }  

}


function case13Tracker() {

var case13q1 = localStorage.getItem('case13q1');
var case13q2 = localStorage.getItem('case13q2');
var case13q3 = localStorage.getItem('case13q3');

if (case13q3 =='1')
{
  //alert('case finished'); 
}
else if (case13q2 == '1') 
{
  window.location = 'case-study-13-3.html'
}
else if (case13q1 == '1')
{
  window.location = 'case-study-13-2.html'
}
else
{
  window.location = 'case-study-13-1.html'
}

}


function resetLocalStorage(){

//case1
  localStorage.setItem('case1q1', 0);
  localStorage.setItem('case1q2', 0);
  localStorage.setItem('case1q3', 0);
  localStorage.setItem('case1q4', 0);
  localStorage.setItem('case1q5', 0);
//case2
  localStorage.setItem('case2q1', 0);
  localStorage.setItem('case2q2', 0);
  localStorage.setItem('case2q3', 0);
  localStorage.setItem('case2q4', 0);
  localStorage.setItem('case2q5', 0);
  localStorage.setItem('case2q6', 0);

//case3
  localStorage.setItem('case3q1', 0);
  localStorage.setItem('case3q2', 0);
  localStorage.setItem('case3q3', 0);

//case4
  localStorage.setItem('case4q1', 0);
  localStorage.setItem('case4q2', 0);
  localStorage.setItem('case4q3', 0);
  localStorage.setItem('case4q4', 0);
  localStorage.setItem('case4q5', 0);

//case5
  localStorage.setItem('case5q1', 0);
  localStorage.setItem('case5q2', 0);
  localStorage.setItem('case5q3', 0);
  localStorage.setItem('case5q4', 0);
  localStorage.setItem('case5q5', 0);
//case6
  localStorage.setItem('case6q1', 0);
  localStorage.setItem('case6q2', 0);
  localStorage.setItem('case6q3', 0);
//case7
  localStorage.setItem('case7q1', 0);
  localStorage.setItem('case7q2', 0);
  localStorage.setItem('case7q3', 0);

//case8
  localStorage.setItem('case8q1', 0);
  localStorage.setItem('case8q2', 0);
  localStorage.setItem('case8q3', 0);

//case9
  localStorage.setItem('case9q1', 0);
  localStorage.setItem('case9q2', 0);
  localStorage.setItem('case9q3', 0);
  localStorage.setItem('case9q4', 0);
  localStorage.setItem('case9q5', 0);
  localStorage.setItem('case9q6', 0);
//case10
  localStorage.setItem('case10q1', 0);
  localStorage.setItem('case10q2', 0);
  localStorage.setItem('case10q3', 0);
  localStorage.setItem('case10q4', 0);
  localStorage.setItem('case10q5', 0);
  localStorage.setItem('case10q6', 0);


//case11
  localStorage.setItem('case11q1', 0);
  localStorage.setItem('case11q2', 0);
  localStorage.setItem('case11q3', 0);
  localStorage.setItem('case11q4', 0);
  localStorage.setItem('case11q5', 0);
  localStorage.setItem('case11q6', 0);


//case12

  localStorage.setItem('case12q1', 0);
  localStorage.setItem('case12q2', 0);
  localStorage.setItem('case12q3', 0);
  localStorage.setItem('case12q4', 0);
  localStorage.setItem('case12q5', 0);
  localStorage.setItem('case12q6', 0);
  localStorage.setItem('case12q7', 0);

//case13
  localStorage.setItem('case13q1', 0);
  localStorage.setItem('case13q2', 0);
  localStorage.setItem('case13q3', 0);
  localStorage.setItem('case13q4', 0);

}

</script>




  </body>
</html>

