<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='res/css/style.css'>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="res/js/jquery-1.11.2.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='res/js/prototype.js'></script>
    <script type='text/javascript' src='res/js/case-study.js'></script>
    <title> IMCI </title>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand"> IMCI </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="false"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="main.html">Main</a></li>
                <li><a href="introduction.html">Introduction</a></li>
                <li><a href="training.html">Training</a></li>
                <li><a href="#">Games</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <div class='content'>
      <div id='question' style="max-width: 500px;white-space: pre-wrap;"> Here is question </div>
      <p>Please check all the right answers</p>
      <p id='hint' class='red'>One or more answers are not right</p>
      <div id='choices' style="max-width:500px">
      </div>
      <br/>
      <h2 id='next' class='btn btn-primary'>Next</h2>
    </div>
  </body>
</html>

