<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<super-navbar>
    <super-navbar-title>
        Case 13.1
    </super-navbar-title>
</super-navbar>
<div ng-controller="caseController">

<h3> {{question}} </h3>

<ul class="list">
    <div  ng-repeat="a in answers">
        <li class="item item-checkbox item-text-wrap">
            <label class="checkbox">
                <input type="checkbox" ng-model="a.val" ng-disabled="!answers_enabled">
                    </label>
            {{a.label}}<div ng-show="showAnswers && !a.correct"> <font color="red">{{a.incorrect_str}}</font> </div>
            </div>
    </li>
    <div ng-show="showAnswers && a.correct"> <font color="green">{{a.correct_str}}</font> </div>
    
</ul>

  <div ng-show="showAnswers"> 
    <p ng-show="showCorrect"> <font color="green">{{correct_feedback}}</font> </p>
    <p ng-show="showIncorrect1"> <font color="red">{{incorrect_feedback1}}</font> </p>
    <p ng-show="showIncorrect2"> <font color="red">{{incorrect_feedback2}}</font> </p>

  </div>

    <a id= "submit" class="button button-block button-calm icon-left super-document" ng-click="onSubmit()"> {{submitText}} </a>
    <a class="button button-block button-dark icon-left super-arrow-left-b" href="cases.html">Back to Cases</a>

</div>

<script>

angular
  .module('example')
  .controller('caseController', function ($scope, $filter)
  {

    $scope.case13q1 = localStorage.getItem('case13q1');
    localStorage.setItem('case13q1', "working");
    
    $scope.answers = [{label:"1.  Check to see if he has sunken eyes?", val:false, correct_val:false,correct:false, correct_str:"",incorrect_str:"This should have been one of the steps taken to diagnose Some Dehydration."},
                      {label:"2.  Determine if the child is older than 1 year?", val:false, correct_val:true, correct:false, correct_str:"", incorrect_str:""},
                      {label:"3.  Give frequent sips of ORS?", val:false, correct_val:false, correct:false, correct_str:"", incorrect_str:"This is a treatment for Severe Dehydration, and should be conducted when referring urgently."},
                      {label:"4.  Ask if the child has had the diarrhoea for longer than 14 days?", val:false, correct_val:true, correct:false, correct_str:"", incorrect_str:""},
                      {label:"5.  Ask if there is blood in the stool?", val:false, correct_val:true, correct:false, correct_str:"",                 incorrect_str:""},
                      {label:"6.  Give fluid and food for diarrhoea at home?", val:false, correct_val:false, correct:false, correct_str:"", incorrect_str:"This is a course of action for No Visible Dehydration."},
                      {label:"7.  Ask if the child has been losing weight?", val:false, correct_val:true, correct:false, correct_str:"", incorrect_str:""},
                      {label:"8.  Give an additional dose of Vitamin A?", val:false, correct_val:false, correct:false, correct_str:"", incorrect_str:"This is performed when the child has Persistent Diarrhoea"}];

    $scope.showAnswers = false;

    $scope.question = "You have just diagnosed a child with some dehydration, and given him the necessary treatment for that diagnosis. Based on this information, what are your next steps? Check all that apply.";

    $scope.submitText = "Submit";
    //$scope.selection = ['a1', 'a4'];

    $scope.answers_enabled = true;

    $scope.showCorrect = false;
    $scope.showIncorrect1 = false;
    $scope.showIncorrect2 = false;

    $scope.correct_feedback ="Correct! The next steps are:  Ask if the child has been losing weight?Ask if the child has had the diarrhoea for longer than 14 days?  Ask if there is blood in the stool?  Ask if the child is older than 1 year";
    $scope.incorrect_feedback1 ="There are more correct answers. Please review the choices and choose again. ";
    $scope.incorrect_feedback2 ="At least one of your answers is incorrect. Please review the choices and choose again.";


    $scope.isCorrect = function()
    {
      var selected = $filter("filter")($scope.answers, {correct:true});

      for(i = 0; i < $scope.answers.length; i++)
      {
        if(selected.indexOf($scope.answers[i]) < 0)
          return false;
      }

      return true;
    };

    function addRandom() {
    var num = Math.floor(Math.random() * 1000);
    var items = localStorage.getItem('items');
    if (items) {
        items += ",";
    }
    localStorage.setItem('items', items + num);
    console.log(localStorage.getItem('items'), items, num);
}

    $scope.onSubmit = function()
    {
      if($scope.submitText == "Next Question -->"){
        localStorage.setItem('case13q1', true);
        window.location.href = "case-study-13-2.html";
      }
        for(i = 0; i < $scope.answers.length; i++)
        {
          $scope.answers[i].correct = $scope.answers[i].val == $scope.answers[i].correct_val;
        }

        //Check answers
        var is_correct = $scope.isCorrect();

        //$(".answer").show();


        if(is_correct)
        {
          $scope.submitText = "Next Question -->";
          $scope.answers_enabled = false;
          //alert("CORRECT");
          $scope.showCorrect = true;
          $scope.showIncorrect1 = false;
          $scope.showIncorrect2 = false;

        }
        else
        {
                    $scope.showIncorrect1 = false;
          $scope.showIncorrect2 = false;
          for(i = 0; i < $scope.answers.length; i++)
            {
              if($scope.answers[i].correct_val && !$scope.answers[i].val)
                $scope.showIncorrect1 = true;
              if($scope.answers[i].val  && !$scope.answers[i].correct_val )
                $scope.showIncorrect2 = true;
            }
          
        }
        $scope.showAnswers = true;
    }



/*
    $scope.toggleSelecton = function toggleSelection(answer)
    {
      var index = $scope.selection.indexOf(answer);


      if(index > -1)
        $scope.selection.splice(index, 1);
      else
        $scope.selection.push(answer);

    };
*/
  });
</script>

</html>


