<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='res/css/style.css'>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="res/js/jquery-1.11.2.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='res/js/prototype.js'></script>
    <script type='text/javascript' src='res/js/test.js'></script>
    <style>
      .content div {
        margin-bottom: 25px;
      }

      .content div .btn {
        margin-right: 50px;
        width: 100px;
      }

      .content div .btn:last-child {
        margin-right: 0px;
      }

    </style>
    <title> IMCI </title>
  </head>
  <body>

        <a class="button button-block button-balanced icon-left super-document-text" href="case-study-10-1.html">Case 10</a>
        <a class="button button-block button-balanced icon-left super-document-text" href="case-study-11-1.html">Case 11</a>
        <a class="button button-block button-balanced icon-left super-document-text" href="case-study-12-1.html">Case 12</a>
        <a class="button button-block button-balanced icon-left super-document-text" href="case-study-13-1.html">Case 13</a>
        <a class="button button-block button-dark icon-left super-arrow-left-b" href="learning-home.html">Back</a>

  </body>
</html>

