<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>
    <super-navbar>
        <super-navbar-title>
            Ear
        </super-navbar-title>
    </super-navbar>
    <div ng-controller="caseController">
        
        <h3> {{question}} </h3>
        
        <div class="list">
            <div  ng-repeat="a in answers">
            <label class="item item-radio item-text-wrap">
                <input type="radio" name="group" ng-model="$parent.userAnswer" ng-value="{{a.id}}" ng-disabled="!answers_enabled"/>
                <div class="item-content">
                {{a.label}}
                </div>
                <i class="radio-icon super-checkmark"></i>
            </label>
            </div>
  
        </div>
        <div><p>Your score is: {{score}}</p>
        </div>

        <div >
            <p ng-show="showCorrect"> <font color="green">{{correct_feedback}}</font> </p>
            <p ng-show="showIncorrect"> <font color="red">{{incorrect_feedback}}</font> </p>
            
        </div>

        <a id= "submit" class="button button-block button-calm icon-left super-document" ng-click="onSubmit()"> {{submitText}}</a>
        <a class="button button-block button-dark icon-left super-arrow-left-b" href="g1-2.html">Next</a>
  
        
    </div>
    
    <script>

        angular
        .module('example')
        .controller('caseController', function ($scope, $filter)
                    {
                    $scope.score = localStorage.getItem('g1score');
                    $scope.score = parseInt($scope.score);

                    $scope.answers = [{label:"1.    Give amoxicillin for 5 days   ", id:"0"},
                                      {label:"2.    Give paracetamol ",id:"1"},
                                      {label:"3.    Teach mother to clean ear by dry wicking  ", id:"2",},
                                      {label:"4.    Give no instruction to mother  ", id:"3"}];
            
                    $scope.showAnswers = false;
                    
                    $scope.question = "Which do you tell the mother to do when her child is classified with chronic ear infection?  ";
                    
                    $scope.submitText = "Submit";
                    
                    $scope.answers_enabled = true;
                    
                    $scope.showCorrect = false;
                    $scope.showIncorrect = false;
                    
                    $scope.correct_feedback ="Correct!";
                    $scope.incorrect_feedback ="Incorrect. ";

                    //$scope.userAnswer = '';
                    $scope.correctId = '2';
                    
                    
                    $scope.isCorrect = function(){
                        return $scope.userAnswer == $scope.correctId;
                    };
                    
                    $scope.onSubmit = function()
                    {
                    if($scope.submitText == "Next Question -->"){
                        window.location.href = "g1-6.html";
                    }
                    else{
                        var is_correct = $scope.isCorrect();
                        
                        if(is_correct){
                            //alert("CORRECT");
                            $scope.submitText = "Next Question -->";
                            $scope.answers_enabled = false;
                            $scope.showCorrect = true;
                            $scope.showIncorrect = false;
                            $scope.score = $scope.score + 1;
                            localStorage.setItem('g1score',$scope.score);
                        }
                        else{
                            //alert($scope.userAnswer);  
                            $scope.submitText = "Next Question -->";
                            $scope.answers_enabled = false;
                            $scope.showCorrect = false;
                            $scope.showIncorrect = true;
                            localStorage.setItem('g1score',$scope.score);
                        }

                    }
                    }

                    });
        </script>
    
</html>




