<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Rules</h1>
        <p>In this game, you will be racing against the clock to gain points by answering mulitple choice questions.  You will have 30 seconds to complete each question.  For each question there is only one correct answer.  To submit an answer, check one of the options then click "Sutbmit".  Upon submitting, you will be presented with the next question.  If the time runs out, you will be forced onto the net question.</p>
        
        <h1>Scoring</h1>
        <p>You will be able to earn points by answering answers corectly.  The faster you respond, then more points you will be awareded.  If you submit a wrong answer, you will be penalized.  If the time runs out, you will neither gain nor lose points.</p>
        
        
        <a class="button button-block button-balanced" href="training.html">Begin!</a>
        <a class="button button-block button-dark icon-left super-arrow-left-b" href="Game.html">Back to Game Categories</a>
    </body>
    
    
</html>

