<!DOCTYPE html>
<html>
  <head>
    <div class="padding" ng-controller="SettingsController">
      <super-navbar>
        <super-navbar-title>
          Game Categories
        </super-navbar-title>
      </super-navbar>
      <a class="button button-block button-balanced icon-left super-social-buffer" href="g1-rules.html">Ear Problems</a>
      <a class="button button-block button-balanced icon-left super-social-buffer" href="g2-rules.html">Category 2</a>
      <a class="button button-block button-balanced icon-left super-social-buffer" href="g3-rules.html">Category 3</a>
      <a class="button button-block button-balanced icon-left super-social-buffer" href="g4-rules.html">Category 4</a>
</html>