<!DOCTYPE html>
<html>
  <head>
    <div class="padding" ng-controller="SettingsController">
      <super-navbar>
        <super-navbar-title>
          Training
        </super-navbar-title>
      </super-navbar>
      <a class="button button-block button-balanced icon-left super-social-buffer" href="g1.html">Category 1</a>
      <a class="button button-block button-balanced icon-left super-social-buffer" href="g2.html">Category 2</a>
      <a class="button button-block button-balanced icon-left super-social-buffer" href="g3.html">Category 3</a>
      <a class="button button-block button-balanced icon-left super-social-buffer" href="g4.html">Category 4</a>
</html>