<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <link rel='stylesheet' href='res/css/style.css'>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="res/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="res/js/index.js"></script>
    <title> IMCI </title>
  </head>
  <body>
    <div class='content'>
      <div>
        <img style="width:100%;" src='/res/img/logo.jpg'/>
      </div>
      <div>
        <img id='home' src='/res/img/home.jpg' style='width:200px;'/>
      </div>
      <h1 id="begin"><a href='getting-started.html'>Tap To Begin</a></h1>
    </div>
  </body>
</html>
