<!DOCTYPE html>
<html>
 <head>
  <title> IMCI </title>
  <style>
	body  {
    	background-image: url("/img/IMCI.jpg");
        background-repeat:no-repeat;
		background-size: 100%;
        	}
	#logIn {
		position:absolute;
		top:80%;
	    
	}    	
  </style>
 </head>
<body>

<script>
alert("yay");

steroids.view.setBackgroundImage({
  image: "/img/IMCI.jpg"
}, {
  onSuccess: function() { alert("Background image set succesfully!"); }
  onFailure: function() { alert("Could not set background image."); }
});
</script>
 <div >
  <button id="logIn" onclick="supersonic.ui.initialView.dismiss()" class="button button-block button-royal">Tap to Begin</button>
 </div>
</body>
</html>
