<!DOCTYPE html>
<html>
  <head>
      
      <super-navbar>
          <super-navbar-title>
              What is IMCI?
          </super-navbar-title>
      </super-navbar>
      
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='res/css/style.css'>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="res/js/jquery-1.11.2.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='res/js/prototype.js'></script>
    <title> IMCI </title>
  </head>
  <body>
    <div class='introduction-content'>
      <h3 class='blue italic'>IMCI BENEFITS</h3>
      <p class='red'>The IMCI strategy:</p>
      <p><span class='blue'>eddresses major child health problems</span> – The strategy systematically addresses the most important causes of childhood death and illness.</p>
      <p><span class='blue'>responds to demand</span> – Every day millions of parents take their sick children to hospitals and health centres, pharmacists and community health care providers. Three out of four of these children are suffering from at least one of the five conditions that are the focus of IMCI.</p>
      <p><span class='blue'>promotes prevention as well as cure</span> – In addition to its focus on treatment, IMCI also provides the opportunity for, and emphasizes, important preventive interventions such as immunization and improved infant and child nutrition, including breastfeeding.</p>
      <p><span class='blue'>Is cost-effective</span> – the World Bank ranked IMCI among the ten most cost-effective interventions in low- and middle-income countries.</p>
      <p><span class='blue'>promotes cost saving</span> – Inappropriate management of childhood illness wastes scarce resources. Although increased investment will be needed initially for training and reorganization, the IMCI strategy will result in cost savings.</p>
      <p><span class='blue'>improves equity</span> - Nearly all children in the developed world have ready access to simple and affordable preventive and curative care, which protects them from death as a result of acute respiratory infections, diarrhoea, measles, malaria and malnutrition. Millions of children in the developing world, however, do not have access to this same life-saving care. The IMCI strategy addresses this inequity in global health care.</p>
      <div class='image-container'>
          <button onclick="location.href = 'introduction-7.html';" class="button button-block button-positive icon-right super-arrow-right-b">Next Page</button>
          <button onclick="location.href = 'introduction-5.html';" class="button button-block button-positive icon-left super-arrow-left-b">Last Page</button>
      </div>
      <br/>
    </div>
  </body>
</html>

