<!DOCTYPE html>
<html>
  <head>
      
      <super-navbar>
          <super-navbar-title>
              What is IMCI?
          </super-navbar-title>
      </super-navbar>
      
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='res/css/style.css'>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="res/js/jquery-1.11.2.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='res/js/prototype.js'></script>
    <title> IMCI </title>
  </head>
  <body>
    <div class='introduction-content'>
      <h3 class='blue italic'>RATIONALE FOR AN INTEGRATED APPROACH</h3>
      <p>Despite the decline in child mortality, every year millions children die before they reach their fifth birthday. When the IMCI was developped, a majority of these deaths was caused by <span class='blue'>just five preventable and treatable conditions</span>:</p>
      <ul style="list-style-type:disc;list-style-position:inside;text-indent:5px;">
        <li>pneumonia</li>
        <li>diarrhoea</li>
        <li>malaria</li>
        <li>measles</li>
        <li>malnutrition</li>
      </ul>
      <p>Often, those deaths are caused by a combination of the above conditions. Many of childhood deaths could be avoided if those children received appropriate and timely care. In addition, <span class='blue'>three out of four episodes of childhood illness</span> are caused by <span class='blue'>these five conditions</span>.</p>
      <br/>
      <p>In the 1990s, major progress was made to reduce childhood mortality and morbidity through universal childhood immunization, control of diarrhoeal diseases and acute respiratory infections, nutrition programmes (including the promotion of breastfeeding) and through implementation of other primary health care activities. In 1995, the WHO Department of Child and Adolescent Health and Development – CAH (since 2010 The Department of Maternal, Newborn, Child and Adolescent Health - MNCAH), in collaboration with eleven other WHO programmes and UNICEF, finalized the development of the <span class='blue'>Integrated Management of Childhood Illness (IMCI) strategy</span>. The global implementation of the IMCI strategy <span class='blue'>applied the lessons learned</span> from these vertical programmes to strategies that promote coordination and, where appropriate, greater integration of activities, in order to improve the prevention and management of childhood illness.</p>
      <br/>
      <p>The current challenge for the IMCI strategy is to scale up activities to ensure the appropriate and effective use of IMCI principles and clinical guidelines by all types of health-care providers.</p>
      <div class='image-container'>
        <img src="/img/introduction-2.jpg" style= "width: 100%;"/>
      </div>
      <div class='image-container'>
                    <button onclick="location.href = 'introduction-3.html';" class="button button-block button-positive icon-right super-arrow-right-b">Next Page</button>
          <button onclick="location.href = 'getting-started.html.html';" class="button button-block button-positive icon-left super-arrow-left-b">Last Page</button>
      </div>
      <br/>
    </div>
  </body>
</html>

