<!DOCTYPE html>
<html>
  <head>
      
      <super-navbar>
          <super-navbar-title>
              What is IMCI?
          </super-navbar-title>
      </super-navbar>
      
      
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='res/css/style.css'>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="res/js/jquery-1.11.2.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='res/js/prototype.js'></script>
    <title> IMCI </title>
  </head>
  <body>
    <div class='introduction-content'>
      <h3 class='blue'>STEP 4. TREAT</h3>
      <br/>
      <p>After identifying appropriate treatment, a health-care provider carries out the necessary procedures relevant to the child's conditions. The health worker:</p>
      <ul style="list-style-type:disc;list-style-position:inside;text-indent:5px;">
        <li>gives pre-referral treatment for sick children being referred;</li>
        <li>gives the first dose of relevant drugs to the children who are in need of specific treatment, and teaches the mother how to give oral drugs, how to feed and give fluids during illness, and how to treat local infections at home;</li>
        <li>provides advice on the home management of sick children at home;</li>
        <li>if needed, asks the mother or other caregiver to return with the child for follow-up on a specific date.</li>
      </ul>
      <br/>
      <h3 class='blue'>STEP 5. COUNSEL</h3>
      <br/>
      <p>If the follow-up care is indicated the health-care provider teaches the mother when to return to the clinic, the health worker also teaches the mother how to recognize signs indicating that the child should be brought back to the clinic immediately.</p>
      <p>When indicated, a health-care provider assesses feeding, including breastfeeding practice, and provides counselling to solve any feeding problems found. This also includes counselling the mother about her own health.</p>
      <br/>
      <h3 class='blue'>STEP 6. FOLLOW-UP</h3>
      <br/>
      <p>Some children need to be seen more than once for a current episode of illness. The IMCI case management process helps to identify those children who require additional follow-up visits. When such children are brought back to the clinic, a health-care provider gives appropriate follow-up care, as indicated in IMCI guidelines, and if necessary, reassess the child for any new problems.</p>
      <div class='image-container'>
          <button onclick="location.href = 'introduction-8.html';" class="button button-block button-positive icon-left super-arrow-left-b">Last Page</button>
          <button onclick="location.href = 'getting-started.html';" class="button button-block button-positive">Back to First Page</button>
      </div>
      <br/>
    </div>
  </body>
</html>

