<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='res/css/style.css'>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="res/js/jquery-1.11.2.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='res/js/prototype.js'></script>
    <title> IMCI </title>
  </head>
  <body>
    <div class='introduction-content'>
      <h2>What is IMCI?</h2>
      <p>The <span class='blue'>extent of childhood morbidity and mortality</span> in low-income and middle-income countries caused by the above-mentioned five conditions was not in itself the only rationale for an integrated approach to the management of childhood illness. Every day, millions of parents seek health care for sick children, taking them to hospitals, health centres, pharmacists, community health-care providers and traditional healers, and <span class='blue'>most of these sick children</span> present with signs and symptoms related to <span class='blue'>more than one disease</span>.</p>
      <div class='image-container'>
        <img src="/img/introduction-3.jpg" style= "width: 100%;"/>
      </div>
      <p>This overlap means that often a <span class='blue'>single diagnosis may not be possible or appropriate</span>, and treatment may be complicated by the need to combine therapy for several conditions. An <span class='blue'>integrated approach</span> to managing sick children is, therefore, <span class='blue'>indicated</span>. There is a real need for a health care provider to go beyond single diseases and address the overall health of a child. Use of IMCI strategy, which takes into account the variety of factors that put children at serious risk, ensures the combined treatment of the major childhood illnesses, while emphasizing prevention of disease through immunization and improved nutrition.</p>
      <div class='image-container'>
        <a href='introduction-2.html' class='btn-primary btn'>Back</a>
        <a href='introduction-4.html' class='btn-primary btn'>Next</a>
      </div>
      <br/>
    </div>
  </body>
</html>

