<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='res/css/style.css'>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="res/js/jquery-1.11.2.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='res/js/prototype.js'></script>
    <title> IMCI </title>
    </head>
  <body>
    <div class='introduction-content'>
      <h2>What is IMCI?</h2>
      <p class='red'>Integrated Management of Childhood Illness (IMCI) is a strategy for reducing the mortality and morbidity associated with the major causes of childhood illness.</p>
      <p>WHO and UNICEF started to develop the IMCI strategy in 1992, and today more than 100 countries worldwide have adopted it. The implementation of the IMCI strategy produces impressive results, both in the decrease of childhood mortality and in improving the quality of life of young children all over the world.</p>
      <div class='image-container' style= "width: 100%;">
        <img src="/img/introduction-1.jpg" style= "width: 100%;"/>
      </div>
      <p>IMCI is an integrated approach to child health that focuses on the well-being of the whole child. IMCI aims to reduce death, illness and disability, and to promote improved growth and development among children under five years of age. IMCI includes both preventive and curative elements that are implemented by families and communities, as well as by health facilities.</p>
      <br/>
      <p>The IMCI strategy focuses on:</p>
      <ul style="list-style-type:disc;list-style-position:inside;text-indent:5px;">
        <li>improving case management skills of health-care providers</li>
        <li>improving overall health systems</li>
        <li>improving family and community health practices.</li>
      </ul>
      <p>The IMCI strategy promotes the accurate identification of childhood illnesses, ensures appropriate integrated treatment of all major illnesses, strengthens the counselling of caregivers, and identifies the need of and speeds up the referral of severely ill children. In the home setting, it promotes appropriate care-seeking behaviours, improved nutrition and preventative care, and the correct implementation of prescribed care.</p>
      <p>The <span class='blue'>cornerstone</span> of the IMCI strategy is a <span class='blue'>set of evidence-based clinical guidelines</span>. These guidelines have been designed to provide first-level health workers with simple and effective tools to combat the major causes of childhood mortality and morbidity.</p>
      <br/>
      <p>According to the World Bank (1993), this approach to the management of common childhood infections and malnutrition is, compared with other interventions, <span class='blue'>likely to have the greatest impact on reducing the global burden of disease</span>. It is estimated that the IMCI approach alone could potentially prevent 14% of the burden of disease in low-income countries and that it is among the most cost-effective health interventions in both low-income and middle-income countries.</p>
      <div class='image-container'>
        <a href='getting-started.html' class='btn-primary btn'>Back</a>
        <a href='introduction-2.html' class='btn-primary btn'>Next</a>
      </div>
      <br/>
    </div>
  </body>
</html>

