<!DOCTYPE html>
<html>
  <head>
      
      <super-navbar>
          <super-navbar-title>
              What is IMCI?
          </super-navbar-title>
      </super-navbar>
      
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='res/css/style.css'>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="res/js/jquery-1.11.2.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='res/js/prototype.js'></script>
    <title> IMCI </title>
  </head>
  <body>
    <div class='introduction-content'>
      <h3 class='blue italic'>STEPS IN INTEGRATED CASE MANAGEMENT </h3>
      <br/>
      <p>The IMCI integrated case management process consists of a number of steps that should be taken by a health-care provider to ensure effective case management.</p>
      <br/>
      <h3 class='blue'>STEP 1. ASESS</h3>
      <br/>
      <p>When a child or young infant is brought to a clinic, a health-care provider uses good communication skills to ask the mother about the child's problems and makes an assessment of the child's condition. The health worker checks first for general danger signs, which would indicate any life-threatening condition. In young infant the health worker checks for signs of very severe disease and local bacterial infection. Then the health worker asks specific questions about the most common conditions affecting a child's health. If the answers are positive, he or she examines the child appropriately. An essential part of the assessment is checking the child's nutrition and immunization status. The assessment includes checking the child for other health problems.</p>
      <br/>
      <h3 class='blue'>STEP 2. CLASSIFY</h3>
      <br/>
      <p>Based on the results of the assessment a health-care provider classifies a child's illnesses using a specially developed colour-coded triage system. Because many children have more than one condition, each condition is classified according to whether it requires:</p>
      <div class='image-content'>
        <table align='center' style="margin: auto auto;">
          <tbody>
            <tr>
              <td style="BACKGROUND: #ff00ff;">urgent pre-referral treatment and referral, or</td>
            </tr>
            <tr>
              <td style="BACKGROUND: #ffff00;">specific medical treatment and advice, or</td>
            </tr>
            <tr>
              <td style="BACKGROUND: #339966">simple advice on home management</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3 class='blue'>STEP 3. IDENTIFY TREATMENT</h3>
      <br/>
      <p>After classifying all the conditions present, a health-care provider identifies specific treatments for the sick child or the sick young infant.</p>
      <ul style="list-style-type:disc;list-style-position:inside;text-indent:5px;">
        <li>If a child requires <span class='red'>urgent referral</span> (pink classification), essential treatment to be given before referral is identified.</li>
        <li>If a child needs  <span class='yellow'>specific treatment</span>  (yellow classification), a treatment plan is developed, and the drugs to be administered at the clinic are identified. The content of the advice to be given to the mother is decided on.</li>
        <li>If <span class='green'>no serious conditions</span> have been found (green classification), the mother should be correctly advised on the appropriate actions to be taken for care of the child at home.</li>
      </ul>
      <div class='image-container'>
          <button onclick="location.href = 'introduction-9.html';" class="button button-block button-positive icon-right super-arrow-right-b">Next Page</button>
          <button onclick="location.href = 'introduction-7.html';" class="button button-block button-positive icon-left super-arrow-left-b">Last Page</button>
      </div>
      <br/>
    </div>
  </body>
</html>

