<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='res/css/style.css'>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="res/js/jquery-1.11.2.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='res/js/prototype.js'></script>
    <title> IMCI </title>
  </head>
  <body>
    <div class='introduction-content'>
      <h2>What is IMCI?</h2>
      <h3 class='blue italic'>IMCI OBJECTIVES, COMPONENTS AND INTERVENTIONS</h3>
      <p>The IMCI strategy combines the improved management of childhood illness with aspects of nutrition, immunization and other important factors influencing child health, including maternal health. </p>
      <br/>
      <p>The <span class='blue'>key objectives</span> of the IMCI strategy are to:</p>
      <ul style="list-style-type:disc;list-style-position:inside;text-indent:5px;">
        <li class='blue'>reduce death and the frequency and severity of illness and disability</li>
        <li class='blue'>contribute to improved growth and development.</li>
      </ul>
      <p>The IMCI strategy seeks to reduce childhood mortality and morbidity by adopting a broad and cross-cutting approach with the following <span class='blue'>three components</span>:</p>
      <ul style="list-style-type:disc;list-style-position:inside;text-indent:5px;">
        <li><span class='blue'>improving the case management skills</span> of health workers through the provision of clinical guidelines on the integrated management of childhood illness, adapted to the local context, and training to promote their use;</li>
        <li>
          <p><span class='blue'>Improving the health system</span> by:</p>
          <ul style="list-style-type:circle;list-style-position:inside;text-indent:15px;">
            <li>ensuring the availability of essential drugs and other supplies</li>
            <li>improving the organization of work at the health facility level</li>
            <li>improving monitoring and supervision;</li>
          </ul>
        </li>
        <li><span class='blue'>improving family and community practice</span> through the education of mothers, fathers, other caregivers and members of the community, with a focus on health-seeking behaviour, compliance, care at home and overall health promotion.</li>
      </ul>
      <div class='image-container'>
        <p>Each component includes a set of specific interventions, with emphasis on their practical implementation. </p>
        <img src="/img/introduction-4.jpg" style= "width: 100%;"/>
      </div>
      <p>The main interventions of the global IMCI strategy evolve to take account of that become available from analysis of the global burden of childhood disease and from child health research.</p>
      <div class='image-container'>
        <a href='introduction-3.html' class='btn-primary btn'>Back</a>
        <a href='introduction-5.html' class='btn-primary btn'>Next</a>
      </div>
      <br/>
    </div>
  </body>
</html>

