<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Learn</h1>
    <p>This section will take you through training flowcharts so that you can learn the material</p>
    <a class="button button-block button-royal icon-left super-document-text" href="linear-home.html">Learn: Linear Flowcharts</a>
    <a class="button button-block button-calm icon-left super-university" href="review-home.html">Review: Whole Flowcharts</a>
    <a class="button button-block button-calm icon-left super-arrow-left-b" href="training.html">Back</a>
  </body>


</html>

