<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="res/css/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='res/css/style.css'>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="res/js/jquery-1.11.2.min.js"></script>
    <script src="res/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='res/js/prototype.js'></script>
    <script type='text/javascript' src='res/js/test.js'></script>
    <style>

    </style>
    <title> IMCI </title>
  </head>
  <body>
    <h1>Learn</h1>
    <div class='content'>
      <div>
        This section will take you through training flowcharts so that you can learn the material
      </div>
      <ul class='horizontal-list'>
        <li>
          <div class='circle' id='linear'>
            <a href="linear-home.html" class="item item-icon-left">
                <i class="icon super-university"></i>
                Learn: Linear Flowcharts
            </a>
          </div>
        </li>
        <li>
          <div class='circle' id='whole'>
            <a href="review-home.html" class="item item-icon-left">
                <i class="icon super-university"></i>
                Review: Whole Flowcharts
            </a>
          </div>
        </li>
      </ul>
      <br/>
      <a href='training.html' class='btn-primary btn'>Back</a>
    </div>
  </body>
</html>

