<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Learn</h1>
    <a class="button button-block button-royal icon-left super-document-text" href="linear-general.html">General Danger Signs</a>
    <a class="button button-block button-calm icon-left super-university" href="linear-res.html">Respiratory</a>
    <a class="button button-block button-calm icon-left super-document" href="linear-diar.html">Diarrhoea</a>
    <a class="button button-block button-calm icon-left super-arrow-left-b" href="learning-home.html">Back</a>
  </body>

</html>

