<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <link rel='stylesheet' href='res/css/style.css'>
  <script src="res/js/jquery-1.11.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="res/js/main.js"></script>
    <title> IMCI </title>
  </head>
  <body>
    <div class='content'>
      <p><img src='res/img/home-title.jpg'/></p>
      <ul class='horizontal-list'>
        <li><a href='introduction.html'><img src='res/img/introduction.jpg'/></a></li>
        <li><a href='training.html'><img src='res/img/train.jpg'/></a></li>
        <li><img id='game' src='res/img/games.jpg'/></li>
      </ul>
      </ul>
      <h2><a href='index.html'>Back</a></h2>
    </div>
  </body>
</html>
