<div class="padding" ng-controller="SettingsController">
  
  <super-navbar>
    <super-navbar-title>
      Training
    </super-navbar-title>
  </super-navbar>

  <div class="list card">

    <a href="#" class="item item-icon-left">
      <i class="icon super-document-text"></i>
      Pre Test
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon super-university"></i>
      Learn
    </a>
    <a href="#" class="item item-icon-left">
      <i class="icon super-social-buffer"></i>
      Case Studys
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon super-clipboard"></i>
      Post Test
    </a>
  </div>
</div>