<!DOCTYPE html>
<html ng-app="app">

  <head>
    <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    
    <script>
      angular.module('app', [
        'ngStorage'
      ]).
      
      controller('Ctrl', function(
        $scope,
        $localStorage
      ){
        $scope.$storage = $localStorage.$default({
          case10: false,
          case10dash1: fasle
          case11: false,
          case12: false,
          case13: false
        });
        
        $scope.deleteCase10 = function() {
          delete $scope.$storage.case10;
        };

        $scope.deleteCase11 = function() {
          delete $scope.$storage.case11;
        };

        $scope.deleteCase12 = function() {
          delete $scope.$storage.case12;
        };

        $scope.deleteCase13 = function() {
          delete $scope.$storage.case13;
        };

        });
    </script>
  </head>

  <body ng-controller="Ctrl">
    <button ng-click="$storage.case10 = true">{{$storage.case10}}</button> 
    <button ng-click="$storage.case11 = true">{{$storage.case11}}</button>
    <button ng-click="$storage.case12 = true">{{$storage.case12}}</button> 
    <button ng-click="$storage.case13 = true">{{$storage.case13}}</button>
    <hr>
    <hr>
    <button ng-click="deleteCase10()">Delete $scope.$storage.case10</button> 
    <button ng-click="deleteCase11()">Delete $localStorage.case11</button>
    <hr>
    <hr>
    <button ng-click="$storage.$reset({
      case10: false,
      case11: false,
      case12: false,
      case13: false
    })">Clear localStorage</button>
  </body>

</html>