<!DOCTYPE html>
<html>
  <head>
    <div class="padding" ng-controller="SettingsController">
      <super-navbar>
        <super-navbar-title>
          Training
        </super-navbar-title>
      </super-navbar>
      <a class="button button-block button-royal icon-left super-clipboard" href="#">Pre-Test</a>
      <a class="button button-block button-calm icon-left super-university" href="learning-home.html">Learn</a>
      <a class="button button-block button-balanced icon-left super-social-buffer" href="cases.html">Case Study</a>
      <a class="button button-block button-positive icon-left super-clipboard" href="#">Post-Test</a>
      
      <!-- <div class="list card">
        <a href="#" class="item item-icon-left">
      <i class="icon super-document-text"></i>
      Pre Test
    </a>

    <a href="learning-home.html" class="item item-icon-left">
      <i class="icon super-university"></i>
      Learn
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon super-social-buffer"></i>
      Case Studys
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon super-clipboard"></i>
      Post Test
    </a>
    
    <a href="getting-started.html" class="item item-icon-left">
        <i class="icon super-home"></i>
        Back to Home
    </a>
  </div> -->
</div>